<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Issue tracker</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
          <ul class="sidebar-nav">
          <p><a href="{% url 'tracker:index' %}">Issues</a></p>
          {% if user.is_authenticated %}
            <p>User: {{ user.get_username }}</p>
            {% if perms.tracker.is_superuser %}
              <p>You are superuser:<br>
              Add, Edit or Remove Issues</p>
              <p><a href="{% url 'tracker:create' %}">New issue</a></p>
            {% else %}
              <p>You are staff:<br>
              Browse & Read Issues</p>
            {% endif %}
            <p><a href="{% url 'tracker:logout' %}">Log out</a></p>
          {% else %}
            <p><a href="{% url 'tracker:login' %}">Log in</a></p>
            <p><a href="{% url 'tracker:signup' %}">Sign up</a></p>
          {% endif %}
          </ul>
        {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>